*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{   
    background-image: linear-gradient(to right ,rgba(239, 244, 242, 0.778),rgb(209, 228, 238));
    min-height: 100vh;
    overflow: hidden;
    /* display: grid; */
}
#heading{
 
    background-color: rgb(90, 175, 254);
    padding: 50px;
    border: 2px solid white;
}
.h1_heading{
    text-align: center;
	font-size: 4em;
    text-shadow: 2px 2px black;
    color: aliceblue;
}

.listicon{
    /* width: 400px; */
    margin: 20px;
    color: rgb(14, 14, 14);
    font-size: larger;
    position: absolute;
    top: 30px;
    /* visibility: hidden; */
    animation: makeVisible 1s ease-in forwards;
    /* display: block; */
    
}
.listiconhide{
    animation: makeInvisible 1s ease-in forwards;
}
.popupbox{
    transform: translate(-100%);
    background-color: rgb(36, 133, 243);
    position: absolute;
    min-height: 100vh;
    width: fit-content;
    top: 0px;
    box-shadow: 2px 2px black;
}

.popupitem{
    text-decoration: none;
    font-size: 2em;
    border-bottom: 2px solid white;
    padding: 50px;
    text-align: center;
}

.popupitem_a{
    text-decoration: none;
    color: black;
}
.popupitem:hover{
    background-color: black;
    color: white;
}

.logout{
    position: absolute;
    right: 20px;
    font-size: 1.8em;
    padding: 20px;
    color: crimson;
}

.content{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
}

.highlight{
    background-color: gold;
}

@keyframes makeVisible {
    0% {
        opacity : 0%;
    }
    100%{
        opacity :100%;
    }
}

@keyframes makeInvisible {
    0% {
        opacity : 100%;
    }
    100%{
        opacity :0%;
        display: none;
    }
}


form {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: rgb(154, 215, 245);
	border-radius: 10px;
	width: 80vw;
	box-shadow: 2px 2px black;
	/* text-align: center; */
}
.form-center{
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

input ,select {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1.5em;
}

button {
	padding: 10px;
	/* background-color: #4CAF50; */
    background-color: black;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.5em;
	display: block;
	margin: auto;
}

button:hover {
	background-color: #3e8e41;
}

#errorMessage {
	color: red;
	margin-bottom: 20px;
	font-weight: bold;
}
